<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons start>
      <button ion-button icon-only (click)='filtro()'>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Vagas</ion-title>
    
    <ion-buttons end>
      <button ion-button icon-only (click)='PaginaCompartilhar()'>
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>
  
</ion-header>


<ion-content class="cards-bg social-cards">


  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-card *ngIf="lista_vagas.length == 0">
    <h2>Nenhuma vaga encontrada</h2>
  </ion-card>

  <ion-card *ngFor="let item of lista_vagas" >
    
  <ion-item (click)='detalhe(item._id)'>
    <h2>{{ item.titulo }}</h2>
    <p>{{ item.empresa != '' ? item.empresa : 'Não especificado' }}</p>
    <p><ion-icon name="pin"></ion-icon> {{ item.cidade }} - {{ item.estado }}</p>
  </ion-item>

  <ion-row>
    <ion-col >
      <button ion-button icon-left clear small (click)='CompartilharVaga(item)'>
            <ion-icon name="share-alt"></ion-icon >
            <div>Compartilhar</div>
      </button>    
    </ion-col>
    <ion-col >
        <button ion-button icon-left clear small>
            <!-- <ion-icon name="heart"></ion-icon>
             <div> {{ item.salvo != 0 ? 'Salvar' : 'Salvo' }} {{ item.salvo }} </div> -->
        </button>
    </ion-col>
    <ion-col >
      <button ion-button icon-left clear small right>
        <ion-note>
          1 sem
        </ion-note>
      </button>
    </ion-col>
  </ion-row>

  </ion-card>

</ion-content>
